apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.18.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: db
  name: db
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: db
    spec:
      containers:
      - env:
        - name: GET_HOST_FROM
          value: dns
        - name: POSTGRES_DB
          value: dev
        - name: POSTGRES_PASWORD
          value: Password@123
        - name: POSTGRES_USER
          value: postgres-dev
        image: postgres
        name: bulletindb
        ports:
        - containerPort: 5432
        resources: {}
      hostname: db
      restartPolicy: Always
status: {}
